
* {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
    
  }
  body{
    margin: 0;
    padding: 0;
    background-image: url("back-ground.jpg");
    background-size: cover;
    background-position:center;
    font-family: Helvetica, Arial, sans-serif;
  }

  
header{
    background-color: rgb(109, 80, 84);
    margin: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
   
}

header h1 a{
    padding: 20;
    color:rgb(194, 150, 89); 
    text-shadow: 3px 3px 4px red; 
    font-weight:bolder;
    font-size: 45px;
    margin-top: 10px;
    margin-left: 20px;   
      
    
}

h1 a{
    text-decoration: none;
}


header nav ul{
    display: flex;
    justify-content:space-between;
   align-items: flex-end;
    width: 100%;
    list-style: none;
    padding: 15px;
    list-style: none;
}


header ul li a {
   margin: 15px;;
   padding: 10px 15px;
   font-weight:bold;
    font-size: 1.55vw;
   font-family: Arial, Helvetica, sans-serif;
   color:rgb(194, 150, 89);  
   text-decoration: none;
}

header nav ul li a:hover {
    background: rgb(199, 153, 55); 
    color: brown;
    border-radius: 15px;
    text-shadow: none;
}



header nav{
    margin: 7px 0;
}



li {
    list-style-type: none;
  }



.bio {
    display: flex;    
    flex-wrap: wrap;
    justify-content:space-around;
   
}

.photo{

    padding: 30px;
    width: 30%;
    margin-top: 3%;
    margin-left: 100px;

}


.photo img {
  border: 3px solid rgb(194, 150, 89);
  width: 300px;
  border-radius: 50%;
  display: block;
  margin-left: 7%;
  margin-right: auto;
  margin-top: 20%;
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(250, 248, 248, 0.2);

  
}


.about-me-title{
    margin-top: 20%;
}


.about-me-title h2{
    
    font-size: 35px;
    color: rgb(194, 150, 89);
    text-decoration: underline;
    margin-bottom: 15px;
  

}

.about-me{
    
    width:50%;
    text-align: justify;
    color:rgb(228, 238, 135);
    font-size: 20px;
    line-height: 1.2;
    text-shadow: 0 0 10 px rgba(14, 12, 12, 0.5);
    display: block;
    margin-right: 200px;
    
}


.achievements {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.achievements-title {
    
    font-style: italic;
    color: rgb(194, 150, 89);
    font-size: 40px;
    text-align: left;
    margin: 10px;
    width: 30%;
    margin-top: 7%;

}
.achievements-title h3{
    margin-left: 30px;
    margin-top: 9%;
    margin-left: 25px;
    text-decoration: underline;

}

.proj-1{
    
    width:60%;
    height: 300px;
    border-radius: 14px;
    border: 4px solid rgb(194, 150, 89);
     background-image: url("flipped-hero-image.jpg");opacity:0.6;
     background-size: cover;
     background-position:center;
     padding: 5px auto 25px auto;
     margin: 20px;
     margin-top: 2%;
     margin-left: 30px;
     font-size: 22px;
    font-weight: bold;
     display: flex;
     flex-direction: column;

    }
    .proj-1:hover{
        opacity: 100;
    }


 .achievements a{
    margin-top: auto;
    margin-bottom:o;
    width: 40%;
    height: 20%;
    background-color: #b9b987;
    color: #393b4f;
    padding: 10px 5px;
    border: 2px solid rgb(43, 145, 170);
    border-radius: 15px;
    text-decoration: none;
    
  }
  
  
  .calculater{
    background-image: url("0_PWlqExs7Q9Rg6GV_.jfif"); 


  }
  

  .led-wall{
    background-image: url("preview-2691OiCa8SKpJ0_0011.jpg"); 

  }
 

  .surf-rep{
    background-image: url("Surfline-Homepage-1024x512.jpg"); 
    
  }
  

  .web-devel {
      background-image: url("top11.png");
  }
  
  .projs{
    
    width:30%;
    height: 300px;
    border-radius: 14px;
    border: 4px solid  rgb(194, 150, 89);
    background-color: #393b4f;
    font-size: 22px;
    font-weight: bold;
    background-size: cover;
    background-position: center;
    opacity:0.6;
     padding: 5px auto 35px auto;
     margin: 20px;
     margin-top: 2%;
     display: flex;
     flex-direction: column;

}
.projs:hover{
    opacity: 100;
}



.project-text{

    font-size: 12;
}



hr {
    display: block;
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 20px;
    border-style: inset;
    border-width: 1px;
    width:80%
  }
  
  footer {
    
    margin-left: auto;
    padding: 0;
    
    
}

footer h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color:rgb(194, 150, 89) ;
    margin-top: 20px;
    margin-left: auto;
    padding:10px 50px 10px;
    text-shadow: 1px 1px 1px red; 
    
}




.contact-me
{
    width: 80%;
    display: flex;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-left: 700px;
   
}

.contact-1 {
    width: 400px;
    background-color:rgb(194, 150, 89);
    opacity: 0.5;
    font-size: 20px;
    color: rgb(228, 238, 135);
    margin-top: auto;
}
.contact-1:hover{
    background-color: rgb(228, 143, 33);
    color: yellow;
}

.contact-sizing{
    margin-left: 50px;
}



@media screen and (max-width: 980px) {

    header {
        position: absolute;
        justify-content: center;
        margin: 0;
        padding: 0;
        width:100%;
        
    }

    header h1 {
        position: absolute;
        text-align: center;
        margin-top: 3px;
        font-size: 20px;
        padding: 0;
        width: 100%;
       
      }

     

    header nav ul {
        margin-top: 18px;
        margin-left: 30px;
        padding: 0;
        width: 100%;
 
    }

    header nav ul li a {
        font-size: 15px;
        padding: 0;
        margin-left: 0;
    }

    

    .photo img {
      
       margin-bottom: 0;
        width: 200px;
        margin-left: auto;
        padding: 0;
       

    }
    .about-me {
        font-size: 15px;
        text-align: center;
       margin-top: 10px;
    }

    .projs{

        width: 25%;
        margin-left: 5%;
    }
    

 @media screen and (max-width: 768px) {
    
    .photo img {

        width: 150px;
    }
    .bio-p {
        margin-left: 0px;
        text-align:left;
        font-size: 12px;
        margin-left: 0cm;
    }

    .about-me-title h2{
        font-size: 20px;
        margin-left: 0cm;
    }
    .achievements-title h3 {
        font-size: 20px;

    }

    .footer-title h4{
        font-size: 20px;
    }

    
    .contact-1 {
        width: 350px;
        font-size:15px; 

    }
    
    span {
        font-size: 15px;
    }

    .projs{ 
        height: 200px;
        width:300px;
        align-items: center ;
 }
 .proj-1 {
     width:100%;
 }

 @media screen and (max-width: 575px) {
    .projs{ 

        margin-left: auto;
        margin-right: auto;
    }
    .footer-title h4 {
        font-size: 15;
        margin-left: 0;
    }
    .contact-1 {
        width: 250px;
        font-size:15px; 

    }
    .photo {

    margin-top:15%;
    }
 }




