:root {
    --main-color:rgb(194, 150, 89); 
  }
* {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
    
  }
  body{
    margin: 0;
    padding: 0;
    background-image: url("../Pictures/back-ground.jpg");
    background-size: cover;
    background-position:center;
    
  }

  
header{
    background-color: rgb(109, 80, 84);
    margin: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
   
}

header h1 a{
    color:var(--main-color); 
    text-shadow: 3px 3px 4px red; 
    font-weight:bolder;
    font-size: 45px;
    margin-top: 10px;
    margin-left: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;         
}

h1 a{
    text-decoration: none;
}


header nav ul{
    display: flex;
    justify-content:space-between;
   align-items: flex-end;
    width: 100%;
    list-style: none;
    padding: 15px;
    list-style: none;
}


header ul li a {
   margin: 15px;;
   padding: 10px 15px;
   font-weight:bold;
    font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
   color:var(--main-color);  
   text-decoration: none;
}

header nav ul li a:hover {
    background: rgb(199, 153, 55); 
    color: brown;
    border-radius: 15px;
    text-shadow: none;
}



header nav{
    margin: 7px 0;
}



li {
    list-style-type: none;
  }



.bio {
    display: flex;    
    flex-wrap: wrap;
    justify-content:space-around;
   
}

.photo{

    padding: 30px;
    width: 30%;
    margin-top: 3%;
    margin-left: 75px;

}


.photo img {
  border: 3px solid var(--main-color);
  width: 300px;
  border-radius: 50%;
  display: block;
  margin-right: auto;
  margin-top: 20%;
  box-shadow: 0 4px 8px 0 rgba(250, 248, 248, 0.5);

  
}


.about-me-title{
    margin-top: 20%;
}


.about-me-title h2{
    
    font-size: 35px;
    color: var(--main-color);
    text-decoration: underline;
    margin-bottom: 15px;
  

}

.about-me{
    
    width:50%;
    text-align: justify;
    color:rgb(228, 238, 135);
    font-size: 20px;
    line-height: 1.2;
    margin-right: 200px;
    
}


.achievements {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.achievements-title {
    
    font-style: italic;
    color: var(--main-color);
    font-size: 40px;
    text-align: left;
    margin: 10px;
    width: 30%;
    margin-top: 7%;

}
.achievements-title h3{
   
    margin-left: 25px;
    text-decoration: underline;
}

.proj-1{
    
    width:60%;
    height: 300px;
    border-radius: 14px;
    border: 4px solid var(--main-color);
     background-image: url("../Pictures/flipped-hero-image.jpg") ;opacity:0.6;
     background-size: cover;
     background-position:center;
     margin: 20px;
     margin-top: 2%;
     margin-left: 30px;
     font-size: 22px;
    font-weight: bold;
     display: flex;
    }


.proj-1:hover{
        opacity: 100;
    }


 .achievements a{
    margin-top: auto;
    width: 40%;
    background-color: rgb(66 222 176);
    color: #393b4f;
    padding: 10px 5px;
    border: 2px solid rgb(43, 145, 170);
    border-radius: 15px;
    text-decoration: none;
    
  }
  

  .calculater{
    background-image: url("../Pictures/0_PWlqExs7Q9Rg6GV_.jfif"); 


  }
  

  .led-wall{
    background-image: url("../Pictures/preview-2691OiCa8SKpJ0_0011.jpg"); 

  }
 

  .surf-rep{
    background-image: url("../Pictures/Surfline-Homepage-1024x512.jpg"); 
    
  }
  

  .web-devel {
      background-image: url("../Pictures/top11.png");
  }
  
  .projs{
    
    width:30%;
    height: 300px;
    border-radius: 14px;
    border: 4px solid  var(--main-color);
    font-size: 22px;
    font-weight: bold;
    background-size: cover;
    background-position: center;
    opacity:0.6;
     margin: 20px;
     margin-left: 30px;
     margin-top: 2%;
     display: flex;
    

}
.projs:hover{
    opacity: 100;
}


hr {
    margin-top: 3%;
    margin-left: 10%;
    width:80%
  }
  


footer h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color:rgb(194, 150, 89) ;
    margin-top: 20px;
    padding:10px 50px 10px;
    text-shadow: 1px 1px 1px red; 
    
}




.contact-me
{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 700px;
   
}

.contact-1 {
    width: 400px;
    background-color:var(--main-color);
    font-size: 20px;
    color: rgb(58, 1, 82);
   
   text-align: center;
}
.contact-1:hover{
    background-color: rgb(228, 143, 33);
  
}

.contact-sizing{
    margin-left: 50px;
}

.contact-1 a{
    text-decoration: none;
    color:rgb(58, 1, 82);
}

@media screen and (max-width: 980px) {

    header {

        justify-content: center;
        margin: 0;
        padding: 0;
        width:100%;
        
    }

    header h1 a {
        position: absolute;
        margin-left: 15%;
        margin-top: 1px;
        font-size: 20px;
        padding: 0;
        width: 50%;
        margin-bottom: 30px;
       
      }

     
    header nav ul {
        margin-top: 18px;
        margin-left: 30px;
        padding: 0;
        width: 100%;
 
    }

    header nav ul li a {
        font-size: 15px;
        padding: 0;
        margin-left: 0;
    }

    
    .photo{
        margin-left: 5px;
    }
    .photo img {
      
       margin-bottom: 0;
        width: 200px;
        margin-left: auto;
        padding: 0;
       

    }
    .about-me {
        font-size: 15px;
        text-align: center;
        margin: 0;
    }
    .about-me-title h2{
        font-size: 25px;
    }
    .achievements-title h3 {
        font-size: 20px;
        
    }
    .projs{

        width: 25%;
        margin-left: 5%;
        height: 200px;
    }
    .calculater{
        height: 300px;

    }
    .achievements a{
        font-size: 10px;
    }
     .contact-me{
         margin-top: 3px;
         margin-left: 30%;

    }
    .footer-title h4{
        font-size: 30px;
    }

 @media screen and (max-width: 768px) {

    header h1 a{
        margin-bottom: 4%;
    }
    
    .photo img {
      

        width: 200px;
    }

    .photo{
        margin-left: 0;
        padding: 0%;

    }
    .bio-p {
        margin-left: 0px;
        text-align:left;
        font-size: 12px;
        margin-left: 0cm;
    }

    .about-me {
        margin: 0;
        
    }


    .about-me-title h2{
        font-size: 20px;
        margin-left: 0cm;
    }
    .achievements-title h3 {
        font-size: 15px;
        margin-left: 30%;

    }
    .proj-1{

        margin-left: 5%;
    }
    .projs{
        margin-left: 40%;
    }

    .footer-title h4{
        font-size: 20px;
    }

    
    .contact-1 {
        width: 350px;
        font-size:15px; 

    }
    
    span {
        font-size: 15px;
    }

    .projs{ 
        height: 200px;
        width:300px;
        align-items: center ;
 }
 .proj-1 {
     width:100%;
 }

 @media screen and (max-width: 575px) {

    header h1 a {
        position: absolute;
        margin-left: 20%;
        margin-top: 1px;
    }
    

    .photo{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .about-me {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;

    }
    .about-me h2{
        margin-bottom: 0px;
        margin-top: 10px;
    }
    
    .projs{ 

        margin-left: auto;
        margin-right: auto;
    }
    .proj-1{
        margin-left: 10%;

    }

    .footer-title h4 {
        margin-top: 0px;
        font-size: 15;
        margin-left: 0;
    }
    .contact-1 {
        width: 250px;
        font-size:15px; 

    }
    .photo {

    margin-top:15%;
    }
 }




